/* styles.css */
.ag-theme-alpine .ag-header {
    /* Use a gradient background color */
    background: #377fc7;
    color: white; /* Change this to the desired text color */
    border-radius: 10px 10px 0 0;
    border: none;
  }
  
  .ag-theme-alpine .ag-header-cell {
    border-color: #377fc7; /* Border color for header cells */
  }
  
  .ag-theme-alpine .ag-header .ag-header-cell-label {
    color: white; /* Change this to the desired text color */
    font-weight: bold; /* Optional: You can adjust the font-weight as needed */
    font-family: 'poppins';
  }
  
  /* customAgGridStyles.css */
  
  .ag-theme-alpine .ag-header-cell {
    border-right: 1px solid white; /* Add a white border to the right of each header cell */
  }
  
  .ag-theme-alpine .ag-header-row {
    border-bottom: 1px solid white; /* Add a white border below the header row */
  }
  

  .ag-theme-alpine .ag-root-wrapper {

    border: none;

  }

  .custom-btn{
    background: #377fc7
  }

  .custom-card{
    background: #377fc7;
  }

  .custom-card-expense{
    background: #377fc7;
  }

  .navbar-header{
    background: #377fc7;
  }