/* styles.css */
.ag-theme-material .ag-header {
    /* Use a gradient background color */
    background: #6070FF;;
    color: white; /* Change this to the desired text color */
    border-radius: 0px 10px 0 0;
    border: none;
    display: flex !important;
  flex-wrap: wrap !important;
  }
  
  
  .ag-theme-material .ag-header-cell {
    border-color: #6070FF; /* Border color for header cells */
    text-align: center;
    flex: 2 !important;
    min-width: 120px !important; /* Adjust as needed */
  }

  /* styles.css */

/* styles.css */

/* styles.css */

.ag-theme-material .ag-header-cell:hover {
  background: #3C4595 !important; /* Change this to the desired hover background color */
  cursor: pointer; /* Optional: Change cursor to pointer on hover */
}

/* customAgGridStyles.css */

/* Your custom Ag-Grid styles... */


/* customAgGridStyles.css */

/* Your custom Ag-Grid styles... */

/* customAgGridStyles.css */

/* Your custom Ag-Grid styles... */

  
  .ag-theme-material .ag-header .ag-header-cell-label {
    color: white; /* Change this to the desired text color */
    font-weight: 600; /* Optional: You can adjust the font-weight as needed */
    font-family: 'poppins';
  }
  
  /* customAgGridStyles.css */
  
  .ag-theme-alpine .ag-header-cell {
    border-right: 1px solid white; /* Add a white border to the right of each header cell */
  }
  
  .ag-theme-material .ag-header-row {
    border-bottom: 1px solid white; /* Add a white border below the header row */
    text-align: center;
  }
  

  .ag-theme-alpine .ag-root-wrapper {

    border: none;

  }

  .custom-btn{
    background: #7070FF
  }

  .custom-card{
    background: #7070FF;
  }

  .custom-card-expense{
    background: #59CE8F;
  }

  .navbar-header{
    background: #6070FF;
  }

  .btn-mod{
    background-color: #7070FF;
    height: 35px;
    color: white;
    border-radius: 5px;
    border: 1px solid #7070FF;
  }

 